# Secrets & Dynamic Data
.env
/pomposo-terminal/.env
bot_config.json
bot_memory.txt

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# IDE
.idea/

# Bot runtime files
backups/
staging/
google-credentials.json

# Media
*.mp3

# System
.DS_Store
Thumbs.db
