[Unit]
Description=Pomposo Discord Bot
After=network.target

[Service]
Type=simple
User=samugame79
WorkingDirectory=/home/samugame79/pomposo
ExecStart=/home/samugame79/pomposo/venv/bin/python /home/samugame79/pomposo/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
